@import '../index.css';


.utility-bar {
    /* background-color: blue */
    width: 100%;
    height: 5vh;
    display: flex;
    background-color: var(--numbering);
}

/* .utility-bar .utility-buttons {
    background-color: green;
    margin-top: auto;
} */

.utility-bar button {
    margin-top: auto;
}