

:root {
  --dark: #151515;
  --text: #DEDEDE;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard {
  background: blue;
  max-width: 100%;
  height: 100vh;

  display: flex;
}

.log-viewer-container {
  background: orange;
  width: 50%;
}

.log-workbench {
  background: green;
  width: 50%;
}

.log-input textarea{
  width: 100%;
  height: 10vh;
}

.log-viewer textarea{
  
  font-size: 12px;
  background-color: var(--dark);
  color: var(--text);
  width: 100%;
  height: 90vh;
}

.error-log textarea{
  width: 100%;
  height: 45vh;
}

.exception-log textarea {
  width: 100%;
  height: 45vh;
}




